.carousel {
  display: grid;
  width: 1320px;
  height: 430px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -30px;
      :global(.carousel-slider) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 450px !important;
      width: 1300px !important;
      :global(.slider) {
        height: 450px !important;
        align-items: center;
        justify-content: space-evenly;
      }
  }
}